html{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: large;
}

.user_wrapper{
    width: 100%;
    height: calc( 100% / 15 - 1px );
    display: flex;
    align-items: center;
    border-bottom: 1px solid #777;
    text-align: center;
}

.user_name{
    width: calc( 12% - 1px );
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #777;
    padding-left: 20px;
    overflow: hidden;
}

.user_category{
    width: calc( 13% - 1px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #777;
    overflow: hidden;
}

.user_position{
    width: calc( 15% - 1px );
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #777;
    overflow: hidden;
}

.user_status{
    width: calc( 60% - 1px );
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}