<!DOCTYPE html>

<html>
    <head>
        <title>KIsemi Status</title>

        <link rel="stylesheet" href="{{ static_url("style.css") }}"/>

        <script type="text/javascript">
            server_location = "{{server_location}}";
        </script>
        <script src="{{ static_url("comm.js") }}"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="user_wrapper" id="header">
                <div class="user_name">Name</div>
                <div class="user_category">Category</div>
                <div class="user_position">Position</div>
                <div class="user_status">Current Status</div>
            </div>
        </div>
    </body>
</html>